{% extends "layout.html" %}
{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<body>
    <h1>Chai Aur django </h1>
</body>
</html> {% endcomment %}


{% block title %}
Home Page
{% endblock %}

{% block content %}
<h1 class="bg-pink-950 text-3xl">Chai aur code | Home page</h1>

{% endblock %}

